@page "/chat/{chatId:int}"
@inherits BaseAuth

@using Chat_BlazorServer.Domain.Models
@using Microsoft.AspNetCore.SignalR.Client

@inject ChatClient chatClient
@inject NavigationManager NavManager
@inject ILocalStorageService localStorage

@if (status == AuthStatus.NotSet)
{
    <LoadingComponent />
}
else
{
    <div class="container overflow-auto shadow-sm p-3 mb-5 bg-white rounded" style="height: 750px;">
        @if(!messages.Any())
        {
            <p>No messages yet</p>
        }

        @foreach (var item in messages)
        {
            <div class="mb-3 d-flex">
                <div class="card shadow" style="width: 18rem;">
                    <div class="card-header">
                        @item.AuthorName
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">@item.Data</li>
                    </ul>
                    <div class="card-footer">
                        <span class="small">@item.Date.ToString("HH:mm | MMM dd")</span>
                        <button class="btn">
                            <span class="oi oi-loop-circular small"></span>
                        </button>
                        <button class="btn">
                            <span class="oi oi-share small"></span>
                        </button>
                        <button class="btn">
                            <span class="oi oi-trash small"></span>
                        </button>
                    </div>
                </div>
               @* <div>
                    <button class="btn">
                        <span class="oi oi-loop-circular"></span>
                    </button>
                    <button class="btn">
                        <span class="oi oi-share"></span>
                    </button>
                    <button class="btn">
                        <span class="oi oi-trash"></span>
                    </button>
                </div>*@
                
            </div>
        }
    </div>
    <div class="container">
        <div class="row">
            <div class="col-9">
                <textarea @bind="msgInput" class="form-control" placeholder="Ur msg..."></textarea>
            </div>
            <div class="col-3">
                <button class="btn btn-primary" type="button" @onclick="Submit" >Send</button>
            </div>
        </div>
    </div>
}

@code {
    AuthStatus status = AuthStatus.NotSet;

    [Parameter]
    public int chatId { get; set; }
    List<MessageItem> messages = new();
    private HubConnection? hubConnection;
    string messageMode = "Send";

    int batch = 20;
    int loaded = 0;
    string msgInput = String.Empty;
    string userName = String.Empty;

    public bool IsConnected => hubConnection?.State == HubConnectionState.Connected;

    private async Task Submit()
    {
        if(!string.IsNullOrEmpty(msgInput))
        {
            CreateMessage createMessage = new()
            {
                ChatId = Convert.ToInt32(chatId),
                MessageText = msgInput,
                SenderName = userName
            };

            await hubConnection.InvokeAsync("SendMessage", createMessage);

            msgInput = String.Empty;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var response = await chatClient.GetAuthAsync("Test/");

            UserAccessCheck(response, async () =>
            {       
                var user = await localStorage.GetItemAsStringAsync("UserName");
                user = user.Trim('"');
                userName = user;
                status = AuthStatus.Authed;

                hubConnection = new HubConnectionBuilder()
                                    .WithUrl("https://localhost:44300/chathub")
                                    .Build();

                hubConnection.On<IList<MessageItem>>("AddMessagePack", (pack =>
                {
                    if (pack is not null)
                    {
                        messages.InsertRange(0, pack);
                        loaded += batch;
                    }
                }));

                hubConnection.On<MessageItem>("AddMessage", (newMessage =>
                {
                    messages.Add(newMessage);
                    loaded += 1;
                    StateHasChanged();
                }));

                await hubConnection.StartAsync();
                await hubConnection.InvokeAsync("JoinRoom", chatId);
                await hubConnection.InvokeAsync("GetMassagePack", chatId, loaded, batch);
                StateHasChanged();
            }); 
            
        }
    }
}
