@page "/login"
@using Blazored.LocalStorage
@using Chat_BlazorServer.Domain.DTOs
@using Chat_BlazorServer.Services
@using System.Text.Json
@using Chat_BlazorServer.Services.Abstractions
@using RestSharp
@inject NavigationManager NavManager
@inject IHttpClientFactory _httpClientFactory
@inject HttpClient _httpClient
@inject ILocalStorageService _localStorage
@inject IChatClient _chatClient
@inject NavigationManager NavManager

<h3>Log in, please</h3>

<EditForm Model="user" OnSubmit="HandleLogin">
    <div class="form-group" style="padding-bottom: 20px;">
        <label for="login">Your Login</label>
        <InputText id="login" class="form-controll" @bind-Value="user.UserName"/>
    </div>
    <div class="form-group" style="padding-bottom: 20px;">
        <label for="password">Password</label>
        <InputText id="password" class="form-controll" @bind-Value="user.Password" type="password"/>
    </div>

    <button class="btn btn-primary" type="submit">Login</button>
</EditForm>



@code
{
    private UserLoginDTO user = new();

    private async void HandleLogin()
    {

        var client = _httpClientFactory.CreateClient("BaseClient");
        var response = await client.PostAsJsonAsync("Login/login", user);

        if(response.IsSuccessStatusCode)
        {
            await SaveToken(response);
            NavManager.NavigateTo("/", forceLoad: true);
            StateHasChanged();
        }
    }

    private async Task SaveToken(HttpResponseMessage response)
    {
        var responseContent = await response.Content.ReadAsStringAsync();

        await _localStorage.SetItemAsync<string>("authToken", responseContent);
    }

 }