@page "/login"


<h3>Log in, please</h3>

<EditForm Model="obj" OnSubmit="HandleLogin">
    <div class="form-group" style="padding-bottom: 20px;">
        <label for="login">Your Login</label>
        <InputText id="login" class="form-controll" @bind-Value="login"/>
    </div>
    <div class="form-group" style="padding-bottom: 20px;">
        <label for="password">Password</label>
        <InputText id="password" class="form-controll" @bind-Value="password" type="password"/>
    </div>

    <button class="btn btn-primary" type="submit">Login</button>
</EditForm>



@code
{
    @*  just for test   *@
    object obj = new();
    string login;
    string password;

    private async void HandleLogin()
    { }

    @*User user = new User();

    private async void HandleLogin()
    {
        if (await chatService.Login(user))
        {
            await LocalStorage.SetItemAsync<string>("user_login", user.Login);
            await stateProvider.GetAuthenticationStateAsync();
            NavManager.NavigateTo("");
        }
        else
        {
            System.Console.WriteLine("Problem with login");
        }
    }*@
}