@page "/registration"

@inject NavigationManager NavManager
@inject HttpClient _httpClient

@using Chat_BlazorServer.Domain.DTOs

<h3>Registration!</h3>

<EditForm Model="user" OnSubmit="HandleRegistration">
    <div class="form-group" style="padding-bottom: 20px;">
        <label for="login">Your Login</label>
        <InputText id="login" class="form-controll" @bind-Value="user.UserName"/>
    </div>
    <div class="form-group" style="padding-bottom: 20px;">
        <label for="password">Password</label>
        <InputText id="password" class="form-controll" @bind-Value="user.Password" type="password"/>
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
</EditForm>



@code
{
    private UserLoginDTO user = new();

    private async void HandleRegistration()
    {
        var result = await _httpClient.PostAsJsonAsync("https://localhost:7001/api/Login/registration", user);
        if(result.IsSuccessStatusCode)
        {
            NavManager.NavigateTo("/login");
        }
    }
}