@page "/test"
@inherits BaseAuth

@inject IHttpClientFactory _httpClientFactory
@inject ITokenHelper tokenHelper
@inject ChatClient chatClient

<h3>Test page!</h3>

@code
{
    string responseStatus = "In process";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var response = await chatClient.GetAuthAsync("Test/");

            UserAccessCheck(response, () =>
            {
                responseStatus = "authed!";
                StateHasChanged();
            });
        }
    }
}