@page "/test"

@inject NavigationManager NavManager
@inject ILocalStorageService _localStorage
@inject HttpClient _httpClient
@inject IChatClient restService
@inject IHttpClientFactory _httpClientFactory
@inject IAuthHelper authHelper

@using Blazored.LocalStorage
@using Chat_BlazorServer.Domain.DTOs
@using Chat_BlazorServer.Controllers
@using Chat_BlazorServer.Helpers
@using Chat_BlazorServer.Helpers.Abstractions
@using Chat_BlazorServer.Services.Abstractions
@using RestSharp
@using System.Net.Http.Headers


<h3>Test!</h3>

<button class="btn btn-primary" @onclick="HandleTest">Try!</button>



@code
{
    string response;
    private bool responseCode;

    private async void HandleTest()
    {
        try
        {
            var client = _httpClientFactory.CreateClient("BaseClient");

            var token = await authHelper.GetToken();

            client.DefaultRequestHeaders.Authorization =
                new AuthenticationHeaderValue("Bearer", token);

            var response = await client.GetStringAsync("Test/");
    
        }
        catch
        {
            response = "ERROR NOT AUTHORIZED";
        }
    }
}