@page "/test"

@inject NavigationManager NavManager
@inject HttpClient _httpClient
@inject ILocalStorageService _localStorage

@using Blazored.LocalStorage
@using Chat_BlazorServer.Domain.DTOs

<h3>Test!</h3>

<button class="btn btn-primary" @onclick="HandleTest">Try!</button>
<h3>Is Success Status Code @responseCode</h3>


@code
{
    private bool responseCode;

    private async void HandleTest()
    {
        var requestMessage = new HttpRequestMessage(HttpMethod.Get, "https://localhost:7001/api/Test/");

        var token = await _localStorage.GetItemAsync<string>("authToken");

        requestMessage.Headers.Authorization
            = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", token);

            var response = await _httpClient.SendAsync(requestMessage);

            responseCode = response.IsSuccessStatusCode;
    }
}