@page "/test"
@inherits BaseAuth

@inject NavigationManager NavManager
@inject ILocalStorageService _localStorage
@inject HttpClient _httpClient
@inject IHttpClientFactory _httpClientFactory
@inject ITokenHelper tokenHelper

<h3>Test page!</h3>

@code
{
    string responseStatus = "In process";
    private bool responseCode;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var client = _httpClientFactory.CreateClient("BaseClient");

            var token = await tokenHelper.GetTokenAsync();

            client.DefaultRequestHeaders.Authorization =
                new AuthenticationHeaderValue("Bearer", token);

            var response = await client.GetAsync("Test/");

            UserAccessCheck(response, () =>
            {
                responseStatus = "authed!";
                StateHasChanged();
            });
        }
    }
}