@page "/test"

@inject NavigationManager NavManager
@inject ILocalStorageService _localStorage
@inject IRestService restService

@using Blazored.LocalStorage
@using Chat_BlazorServer.Domain.DTOs
@using Chat_BlazorServer.Controllers
@using Chat_BlazorServer.Helpers
@using Chat_BlazorServer.Services.Abstractions
@using RestSharp


<h3>Test!</h3>

<button class="btn btn-primary" @onclick="HandleTest">Try!</button>
<h3>Response</h3>


@code
{
    private bool responseCode;
    //private RestResponse? response = null;


    private async void HandleTest()
    {
        var response = await restService.GetAsync("test/");

        string test = String.Empty;
    }
}